
<div class="columnheaders" #headerElement>
    <div *ngFor="let id of order; let i = index" 
    [class.ghost]="i === movingOrigin" class="columnheader"
    [style.min-width.px]="definition.columns[id].minWidth" 
    [style.max-width.px]="definition.columns[id].maxWidth" 
    [style.text-align]="definition.columns[id].align">

        <p *ngIf="definition.columns[id].nomove === true" class="name">
            {{definition.columns[id].name}}
        </p>
        <p *ngIf="definition.columns[id].nomove != true" class="name move" (mousedown)="onMovingStart(i)">
            {{definition.columns[id].name}}
        </p>

        <div class="sort" [class.sorted]="sortedColumn === order[i]" 
        [class.reverse]="sortedReverse && sortedColumn === order[i]">
            <span (click)="onSort(i, false)">▲</span>
            <span (click)="onSort(i, true)">▼</span>
        </div>

        <span style="flex: 1; height: 100%;"></span>

        <span class="movedetect" *ngIf="currentlyMoving && !definition.columns[id].nomove" (mouseover)="onMoving(i,i)"></span>
        <span class="movedetect" *ngIf="currentlyMoving && !definition.columns[id].nomove" (mouseover)="onMoving(i,i+1)"></span>

        <span *ngIf="definition.columns[id].minWidth != definition.columns[id].maxWidth"
        class="resize" (mousedown)="onResizeStart(i,$event)"></span>

    </div>
</div>

<div class="columns" #bodyElement>
    <div *ngFor="let id of order; let i = index"
    [class.ghost]="i === movingOrigin" class="column"
    [style.min-width.px]="definition.columns[id].minWidth"
    [style.max-width.px]="definition.columns[id].maxWidth"
    [style.text-align]="definition.columns[id].align">

        <div *ngFor="let row of data" class="row">
            {{extractData(row, definition.columns[id])}}
        </div>

    </div>
</div>
