
<div class="columnheaders" #headerElement>
    <div *ngFor="let columnId of order; let i = index" 
    [class.ghost]="i === movingOrigin" class="columnheader"
    [style.min-width.px]="definition.columns[columnId].minWidth" 
    [style.max-width.px]="definition.columns[columnId].maxWidth" 
    [style.text-align]="definition.columns[columnId].align">

        <p *ngIf="definition.columns[columnId].nomove === true" class="name">
            {{definition.columns[columnId].name}}
        </p>
        <p *ngIf="definition.columns[columnId].nomove != true" class="name move" (mousedown)="onMovingStart(i)">
            {{definition.columns[columnId].name}}
        </p>

        <span class="movedetect" *ngIf="currentlyMoving && !definition.columns[columnId].nomove" (mouseover)="onMoving(i,i)"></span>
        <span class="movedetect" *ngIf="currentlyMoving && !definition.columns[columnId].nomove" (mouseover)="onMoving(i,i+1)"></span>

        <span *ngIf="definition.columns[columnId].minWidth != definition.columns[columnId].maxWidth"
        class="resize" (mousedown)="onResizeStart(i,$event)"></span>

    </div>
</div>

<div class="columns" #bodyElement>
    <div *ngFor="let columnId of order; let i = index"
    [class.ghost]="i === movingOrigin" class="column"
    [style.min-width.px]="definition.columns[columnId].minWidth"
    [style.max-width.px]="definition.columns[columnId].maxWidth"
    [style.text-align]="definition.columns[columnId].align">

        <div *ngFor="let row of data" class="row">
            {{extractData(row, definition.columns[columnId])}}
        </div>

    </div>
</div>
